* {
  box-sizing: border-box;
}

// .app {
//   text-align: center;
//   background-image: url('../img/bg_control.jpg');
//   background-size: auto;
// }

// .canvas_wrap {
//   background-color: black;
// }
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
}

.room {
  display: flex;
  flex-direction: column;
  background-image: url('../img/bg_control.jpg');
  background-size: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  // background-color: ;

  .controlArea {
    display: flex;
    justify-content: center;
    height: 80px;

    .logoArea {
      display: flex;
      justify-content: center;
      width: 170px;
      padding: 5px;

      .logo {
        width: 110px;
        height: 100%;
        background-image: url('../img/logo.png');
        background-size: cover;
      }
    }

    .buttonArea {
      display: flex;
      width: 450px;
      align-items: end;
      justify-content: end;
      // background-color: #d6a8e9;

      button {
        width: 80px;
        height: 30px;
        font-weight: 900;
        margin: 1px;
        border: 0px;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .gameInfoArea {
      display: flex;
      // background-color: aliceblue;
      // border-radius: 5px;
      margin: 10px;
      width: 150px;
      text-align: center;
      vertical-align: middle;

      .roundArea {
        background-color: azure;
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin-right: 3px;

        .roundTitle {
          background-color: cornflowerblue;
          color: azure;

        }

        .round {
          // background-color: aqua;
          font-size: 25px;

        }
      }

      .timeArea {
        background-color: azure;
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin-left: 3px;

        .timeTitle {
          background-color: darkcyan;
          color: azure;

        }

        .time {
          background-color: azure;
          border-radius: 5px;
          // background-color: aqua;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
        }


      }
    }

  }

  .viewArea {
    display: flex;
    justify-content: center;

    .userWrap {
      width: 150px;
      height: 100px;
      border-radius: 15px;
      background-color: midnightblue;
      margin: 10px;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      .user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 120px;
        height: 80px;
        padding: 3px;
        // background-color: rgb(153, 0, 255);
        background-color: #b2afff;

        .userNameArea {
          background-color: cornflowerblue;

          .userNameTitle {
            font-size: 12px;
          }
        }

        .correctArea {
          color: white;
        }

        div {
          text-align: center;
        }
      }
    }

    .userArea1 {}

    .canvasArea {
      display: flex;
      flex-direction: column;
      align-items: center;

      .answerArea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 30px;
        background-color: white;
        opacity: 0.8;
        border-radius: 5px;
        margin-top: 3px;
        margin-bottom: 3px;

      }

      .canvasWrap {
        text-align: center;

        canvas {
          background-color: white;
        }
      }
    }

    .userArea2 {}
  }

  .canvasControlArea {
    display: flex;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.529);
    width: 770px;
    // height: 80px;
    padding: 10px;
    margin-bottom: 10px;

    img {
      width: 35px;
      margin: 10px;

      &:hover {
        filter: drop-shadow(0 0 10px white);
      }
    }

    button {
      width: 50px;
      height: 50px;
      margin: 10px;
      border: 0px;
      // border: 1px solid black;
      border-radius: 50%;
      background-color: transparent;

      &:hover {
        filter: drop-shadow(0 0 10px white);
      }
    }

    .white {
      font-size: 30px;
      // background-color: red;
      // width: 700px;

    }

    .clear {
      font-size: 30px;
      // background-color: #b2afff;

    }

    // .cRed {
    //   background-color: red;

    // }
    // .cOrange {
    //   background-color: Orange;

    // }
    // .cYellow {
    //   background-color: yellow;

    // }
    // .cGreen {
    //   background-color: green;

    // }
    // .cBlue {
    //   background-color: blue;

    // }
    // .cPurple {
    //   background-color: purple;

    // }
    // .cBlack {
    //   background-color: black;

    // }
  }

  .chatArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: rgb(201, 230, 255);

    .chatView {
      width: 750px;
      height: 100px;
      // background-color: transparent;
      padding: 3px;
      font-size: 14px;
      // border: 1px solid black;
      overflow-y: scroll;
      /* 인터넷 익스플로러 */
      -ms-overflow-style: none;
      /* 파이어폭스 */
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        /* 크롬, 사파리, 오페라, 엣지 */
      }
    }

    .chatInput {
      display: flex;
      width: 760px;
      margin-top: 3px;
      // border: 1px solid black;

      .inputArea {
        flex: 9;
        background-color: white;

        input {
          background-color: transparent;
          border: 0px;
          padding-left: 5px;
          width: 100%;
          height: 100%;

          &:focus {
            outline: none;
            border-color: blueviolet;
            box-shadow: 0 0 5px blueviolet;
          }
        }

        // border: 1px solid crimson;
      }

      .buttonArea {
        flex: 1;
        padding: 3px;
        text-align: end;
        vertical-align: middle;
        margin-left: 5px;
        // padding-left: 3px;
        background-color: darkslateblue;

        &:hover {
          background-color: cornflowerblue;
          border-color: blueviolet;
          box-shadow: 0 0 5px blueviolet;
        }

        button {
          border: 0px;
          background-color: transparent;
          color: white;
          width: 100%;
          height: 100%;
        }

        // border: 1px solid crimson;
      }
    }
  }
}


.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;

  .headArea {
    display: flex;
    justify-content: space-between;
    width: 800px;

    .logo {
      background-image: url('../img/lobby_logo.png');
      background-size: cover;
      background-position: -120px 0px;
      width: 300px;
      height: 180px;
    }

    .rightArea {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 10px;
      padding-right: 10px;

      .nameArea {
        display: flex;
        flex-direction: column;
        align-items: end;
        // width: 100%;
        // height: 50px;
        margin-top: 15px;


        .nameTitle {
          width: 200px;
          height: 30px;
          background-color: mediumpurple;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          padding: 5px;
          font-weight: 900;
          color: white;
          text-align: center;
          vertical-align: middle;

        }

        .nameWrap {
          width: 200px;
          height: 30px;
          background-color: plum;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 5px;
          font-size: 14px;
          color: white;
          text-align: center;
          vertical-align: middle;

        }
      }

      .buttonArea {
        display: flex;
        align-items: end;
        justify-content: end;

        button {
          width: 100px;
          height: 40px;
          color: white;
          text-shadow: 0px 0px 3px black;
          margin: 3px;
          border: 0px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }

  }

  .roomList {
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    /* 인터넷 익스플로러 */
    -ms-overflow-style: none;
    /* 파이어폭스 */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      /* 크롬, 사파리, 오페라, 엣지 */
    }

    table {
      border-collapse: collapse;
      border-top: 1px solid white;

      thead {
        th {
          color: white;

          &.number {
            width: 50px;
          }

          &.title {
            width: 350px;

          }

          &.master {
            width: 200px;

          }

          &.member {
            width: 100px;

          }

          &.status {
            width: 100px;

          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid white;
          &:hover {
            cursor: pointer;
          }

          td {
            text-align: center;

            &.title {
              text-align: start;
            }

          }
        }
      }
    }

  }
}


.setName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-image: url('../img/palette.jpg');
  // background-size: cover;

  .titleArea {
    // background-color: rgba(216, 254, 255, 0.377);
    border-radius: 5px;
    font-size: 25px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .formArea {
    display: flex;
    flex-direction: column;

    .inputArea {
      text-align: center;

      input {
        border-radius: 15px;
        border: 0;
        background-color: aliceblue;
        width: 200px;
        height: 35px;
        padding: 5px;
        padding-left: 10px;

        &:focus {
          outline: none;
          border-color: blueviolet;
          box-shadow: 0 0 5px blueviolet;
        }
      }
    }


    .buttonArea {
      display: flex;
      justify-content: center;
      width: 200px;
      margin: 20px;
      margin-bottom: 200px;

      button {
        border: 0;
        margin: 5px;
        border-radius: 3px;
        width: 80px;
        height: 30px;
        font-weight: 800;

        &:hover {
          border-color: blueviolet;
          box-shadow: 0 0 5px blueviolet;
        }

      }

      .cancel {
        background-color: aliceblue;
        color: grey;
      }

      .confirm {
        background-color: cornflowerblue;
        color: white;
      }
    }


  }
}

.bgRed {
  background-color: crimson;
}

.bgYellow {
  background-color: darkcyan;
}

.bgBlue {
  background-color: deepskyblue;
}

.bgPink {
  background-color: plum;
}

.bgGradBlue {
  background: linear-gradient(rgb(95, 138, 255) 60%, #afbaff);
  // background-color: ;
}